<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.unsplash.pickerandroid.example">

    <application
            android:name=".ExampleApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="ezmovil.net@gmail.com - Juan Gomez (+502 5489 4239"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
            android:name=".MainUnsplashActivity">
        </activity>
        <activity android:name="com.codingwithmitch.kotlinrecyclerviewexample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>